html
    head
        meta(charset="UTF-8")
        title #{title}
        link(rel="stylesheet",href="/css/product.css")
        link(rel="stylesheet",href="/css/main.css")
    
    body
        header.main-header
            nav.main-header_nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product

        h1 My Products
        p List of all the products...
    main
    if prods.length > 0
        .grid
            each product in prods
                article.card.product-item
                header.card__header
                    h1.product__title #{product.title}
                .card__image
                    img(src="#{product.img}")
                .card__content
                    
                    h2.product__price $19.99
                    p.product__description A very interesting book about so many even more interesting things!
                
                .card__actions
                    button.btn Add to Cart
                
    else
        h1 No Products
                    